html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: table;
}
header, .main, footer {
	display: table-row;
	width: 100%;
}

header {
	background-color: #3B6891;
	color: #ffffff;
	height: 3vw;
	font-family: "Cambria";
	font-size: 24px;
}

.main {
	height: 100%;
}

footer {
	overflow: hidden;
	background-color: #7facce;
	color: #ffffff;
}

.banner{
	overflow: hidden;
	padding: 1vw;
	width: 100%;
}

.logo {
	float: left;
	padding: 1vw;
}
.logo::first-letter {
	font-size: 32px;
	font-weight: 700;
}

.logindetails {
	float: right;
	padding: 1vw;
}

.row {
	padding: 10vw;
}

.outer {
	background-color: #b2cde1;
}

.inner {
	background-color: #ffffff;
	margin: auto;
	width: 90%;
}

#loginbox {
	margin: 1vw 5vw;
	border-style: solid;
	border-radius: 10px;
	border-color: #808080;
	padding: 1vw;
	height: 90%;
}

.calendar-main {
	margin: 1vw 5vw;
	border-style: solid;
	border-radius: 10px;
	border-color: #808080;
	padding: 1vw;
	height: 90%;
}

.calendar-day {
	width: 12em;
	min-width: 5px;
	height: 100%;
	position: relative;
	display: inline-block;
	border-style: solid;
	border-radius: 10px;
	border-color: #a9a9a9;
}

.legal {
	text-align: center;
	padding: 1em;
}