html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: table;
	font-family: "Cambria";
	color: #ffffff;
}
header, .main, footer {
	display: table-row;
	width: 100%;
}

header {
	background-color: #00599d;
	height: 2vw;
	font-size: 20px;
}

.main {
	height: 100%;
}

footer {
	overflow: hidden;
	background-color: #7facce;
}

.banner{
	overflow: hidden;
	padding: 1vw;
	width: 100%;
	font-size: 32px;
}

.logo {
	float: left;
	padding: 1vw;
}
.logo::first-letter {
	font-weight: 700;
}

.logindetails {
	float: right;
	padding: 1vw;
}

.row {
	padding: 10vw;
}

.outer {
	background-color: #b2cde1;
}

.inner {
	margin: auto;
	width: 90%;
	background-color: #99bcd7;
	overflow: hidden;
}

#loginbox {
	margin: 1vw 5vw;
	border-style: solid;
	border-radius: 10px;
	border-color: #808080;
	padding: 1vw;
	height: 90%;
}

.container-main {
	margin: 1vw 5vw;
	border-style: solid;
	border-radius: 10px;
	border-color: #808080;
	padding: 1vw;
}

.calendar {
	height: 120vh;
}

.calendar-day {
	width: 14%;
	height: 100%;
	position: relative;
	vertical-align: top;
	display: inline-block;
	border-style: solid;
	border-radius: 10px;
	border-color: #a9a9a9;
	background-color: #ffffff;
}

.event {
	width: 90%;
	margin: 9px 9px;
	border-radius: 5px;
	font-weight: 700;
	text-align: center;
	padding: 5px;
	overflow: hidden;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
}

.one {
	height: 7%;
  }

.onehalf {
	height: 10%;
}

.two {
	height: 14%;
}

.three {
	height: 20%;
}

.unit1 {
	background-color: darkorange;
}

.unit2 {
	background-color: dodgerblue;
}

.unit3 {
	background-color: green;
}

.unit4 {
	background-color: mediumpurple;
}

.personal {
	background-color: grey;
}

#file-form {
	width: 80%;
	margin: auto;
}

.buttons {
	height: 90%;
	width: 45%;
	border-color: grey;
	color: #000000;
	font-size: 24px;
	background-color: #ffffff;
	border-radius: 10px;
	display: inline;
}

#file-select {
	float:left;
	text-align: center;
}

#upload-button {
	float: right;
}

.save {
	float: right;
}

.legal {
	text-align: center;
	padding: 1em;
	font-weight: 700;
}