/* Stylesheet for application site */

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3B6891;
}

body {
    margin: 0;
    height: 99vh;
    background-color: #f1f4f7;
}

